@media only screen and (min-width: 37.5em) {
  .info {
    display: block;
  }

  main {
    padding: 1rem 0.2rem;
  }

  .content {
    grid-template-columns: 60% 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .hero {
    grid-column: 1/3;
  }

  .join {
    display: block;
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .news {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .spotlights {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
  }

  .spotlights > div {
    width: 100%;
    margin: 10px;
  }

  .main-footer {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .main-l {
    display: flex;
    grid-column: 1/2;
  }

  .main-r {
    text-align: center;
    grid-column: 2/3;
  }

  .hero {
    background: url(../images/sugarcane_short.png) no-repeat;
    background-size: cover;
  }

  .weather {
    width: -webkit-fill-available;
  }
}
