@media only screen and (min-width: 37.5em) {
  .info {
    display: block;
  }

  main {
    /* padding: 1rem 0.2rem; */
  }

  .reservation {
    display: none;
  }

  .book-now {
    font-size: 1rem;
    padding: 0.4rem 1rem;
    right: 80px;
    top: 30px;
  }

  hr {
    width: 90%;
  }

  .section-1 {
    display: grid;
    /* grid-gap: 2rem; */
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 98%;
  }

  .section-1 picture {
    display: block;
  }

  .section-1 .service-desc span {
    margin: 2rem;
  }

  .section-2 {
    display: grid;
  }

  .section-3 {
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: 56px 220px;
    padding: 1rem;
    grid-gap: 10px;
  }

  .section-3 .t1 {
    grid-column: 1/2;
    border-bottom: 1px solid #333;
    margin-right: 0;
  }

  .section-3 .t2 {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  .section-3 .t3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .section-3 .t4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .section-3 .t5 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .section-3 .t6 {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .section-4 {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 96%;
    margin: auto;
    padding: 1rem 0;
  }

  .section-4 section:first-child {
    grid-column: 1/2;
  }

  .section-4 section:last-child {
    grid-column: 2/3;
  }

  .content.home {
    grid-template-columns: 60% 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .content.home section {
    overflow: hidden;
  }

  .hero {
    grid-column: 1/3;
  }

  .hero .header {
    right: 9%;
  }

  .join {
    display: block;
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .news {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .spotlights {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
  }

  .spotlights > div {
    width: 100%;
    margin: 10px;
  }

  .main-footer {
    display: grid;
    grid-template-columns: 33% 34% 33%;
  }

  .main-l {
    display: flex;
    grid-column: 1/2;
  }

  .main-c {
    grid-column: 2/3;
  }

  .main-r {
    grid-column: 3/4;
  }

  .main-l, .main-r, .main-c {
    padding: 1rem;
    grid-row: initial;
  }

  .weather {
    width: -webkit-fill-available;
  }

  /* Discover */
  .discover .attractions {
    padding: 0;
  }

  .discover .attractions article {
    flex-direction: row;
  }

  .discover .attractions article picture {
    padding: 0.5rem;
    width: 55%;
  }

  .discover .attractions article picture img:hover {
    box-shadow: 0 0 20px #777;
  }

  .discover .attractions article .description {
    padding: 1rem;
    width: 45%;
  }

  .discover .attractions article .description .title {
    width: 100%;
  }

  /* Directory */
  .directory .list section {
    align-items: center;
    flex-direction: row;
  }

  .directory .grid section img {
    display: initial;
  }

  .directory .list section h3 {
    font-size: 1rem;
    min-width: 150px;
  }

  .directory .list section img {
    display: none;
  }

  .directory .list section a {
    max-width: 333px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Contact */
  .contact-page .direct-option {
    padding: 1rem 2rem;
  }

  .contact-page form {
    margin: 0 2rem;
  }

  .thanks, .directory {
    height: calc(100vh - 286px);
  }

  /* Temples */
  .temples {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 85%;
    }
}
